body{
    background-color: #f2f2f2;
    line-height: 1;
}
.row{
 margin-right: 0;
}
.navbar{
    background-color: #4D9E6E;
    padding-right: 10px;
    border-color: #4D9E6E;
    height: 4rem;
}

.navbar-inverse .navbar-nav>li>a{
    color: #ffffff;
    display: block;
    padding: initial;
    /*height: 4rem;*/
    padding: 1.6rem 1.0rem;
    font-size: 1.6rem;
    line-height: 1.1em;
    font-weight: 400;
}
.navbar-inverse .navbar-nav>li>a:hover{
    background: #3c7c56;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    color:#ffffff;
}
.navbar-brand img{
    display: block;
    width: 175px;
}
.navbar-brand{
    padding: 0.8rem;
    padding-left: 0;
}
.offer-details{
    padding: 1.5rem;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 13rem;

}
.offer-view-count{
    color: #b3b3b3;
    font-weight: 600;
}
.offer-title{
    font-size: 1.3rem;
    line-height: 1.2rem;
    text-align: center;

    margin-bottom: 1.2rem;
}
#offer-container{
    height: 100%;
    padding: 4rem 2rem 4rem;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    top: 5px;
    width: 65%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4rem;
    padding-bottom: 10rem;
}
#content{
    margin-top: 6rem;
}
.clearfix{
    clear: both;
}
.offer-type {
    text-transform: uppercase;
    font-size: 2.8rem;
    display: inline-block;
    line-height: 1em;
    padding: 0.3rem 0.8rem;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.3rem solid;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -o-border-radius: .7rem;
    border-radius: .7rem;
    color: #d7c842;
    border-color: #d7c842;
}
.offer-offer-availability{
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: grey;
    padding-right: 5px;
}
.offer-advanced-steps{
    padding-top: 2rem;
    width: 35%;
    float: right;
}
.login-signup{
    background-color: #516072;
    border-color: #516072;
    color: #ffffff;
    border-radius: .7rem;
    margin-top: 1.0rem;
    width: 100%;
}
.login-signup:hover{
    background-color: #3c4754;
    border-color: #38424e;
    color: #ffffff;
}
.offer-login-action-text{
    font-size: 1em;
    margin-bottom: 0;
    color: rgba(0,0,0,0.6);
}
.offer-type-container{
    padding-left: 0;
}
.offer-grain-details{
    margin-top: 1em;
}
.offer-grain-details-grade{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.5rem;
    color: #000;
    margin-top: 1em;
    margin-bottom: 0;
}
.offer-crop-year{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    margin-top: 0.3rem;
    color: #8F8E94;
}
.offer-information-row{
    border-top: 1px solid #D1D1D1;
    margin-top: 1rem;
    padding-top: 1rem;
}
.offer-info-label{
    width: 34%;
    text-align: right;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: rgba(143,142,148,0.8);
    font-weight: bold;
    vertical-align: baseline;
}
.offer-info-detail{
    width: 66%;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #8F8E94;
}
#user-rating{
    color: #000000;
}
#region{
    color: #000000;
    font-size: 2.4rem;
    font-weight: 200;
}
.offer-information-row table{
    width: 100%;
}
.offer-information-row table tr{
    margin-top: 0.4rem;
}
.offer-information-row table td{
    padding-right: 15px;
    padding-top: 1rem;
}
.offer-comments{
    margin-top: 1.0rem;
    margin-bottom: 0.3rem;
    display: block;
    color: #000;
    font-weight: bold;
}
#offer-comments{
    font-size: 1.5rem;
    width: 100%;
    word-break: break-all;
    margin-bottom: 2rem;
}
#offer-images-wrapper img{
    width: 100px;
}
.grey{
    color: #8F8E94;
}
.black{
    color: #000000;
}
.red {
    color: #ff0000;
}
.paddding-right0{
    padding-right: 0;
}
.paddding-left0{
    padding-left: 0;
}
@media only screen and (max-width: 640px){
    #offer-container{
        margin: 0 auto;
        position: relative;
        width: 100%;
    }
    #content{
        margin-top: 0;
    }
    #offer-container{
        width: auto;
        padding: 0;
        overflow-y: hidden;
    }
    .offer-details{
        margin-top: 4rem;
    }
    .offer-advanced-steps{
        background-color: #f2f2f2;
        position: fixed;
        bottom: 0;
        height: 13.0rem;
        right: 0;
        width: inherit;
        padding: 1.5rem 1.5rem;
        padding-left: 3rem;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        background-color: #4D9E6E;
        width: 100%;
    }
    .navbar{
        padding: 0;
    }
    .offer-type{
        font-size: 2.4rem;
    }
}
@media only screen and (min-width: 640px){
    .offer-details {
        border: 0.6rem solid #979797;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -o-border-radius: 1rem;
        border-radius: 1rem;
    }
}
